In [1]:
print ("hello pyton")

hello pyton

In [6]:
print ("ayo kita belajar pyton nareng")
print ("ayo mulai belajar pytonnya")

ayo kita belajar pyton nareng
ayo mulai belajar pytonnya

In [8]:
print ("ayo kita belajar pyton nareng")
print ()
print ("ayo mulai belajar pytonnya")

ayo kita belajar pyton nareng

ayo mulai belajar pytonnya

In [9]:
a= "subhan"
print("nama saya", a)

nama saya subhan

In [10]:
4E9# float desimal

4000000000.0

In [11]:
100+56999

57099

In [13]:
9877-82767

-72890

In [16]:
876*889

778764

In [18]:
100/98

1.0204081632653061

In [24]:
tinggi_1= 165
tinggi_2= 178

In [25]:
berat_1= 70 
berat_2= 54

In [26]:
print(tinggi_1,tinggi_2)
print(berat_1,berat_2)

165 178
70 54